fastapi
uvicorn[standard]
pydantic
# python-multipart

# flask
# flask_cors

# python-jose
passlib[bcrypt]
uuid

requests
aiohttp
peewee
peewee-migrate
psycopg2-binary
bcrypt

boto3

argon2-cffi
# apscheduler

# langchain
# langchain-chroma
# langchain-community
# fake_useragent

PyJWT
pyjwt[crypto]

mangum